<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 <!-- vehicle dimensions-->
     <xacro:property name="vehicle_length" value="0.558"/>
     <xacro:property name="vehicle_width" value="0.305"/>
     <xacro:property name="vehicle_height" value="0.210"/>
     <xacro:property name="vehicle_mass" value="3.55"/>
     <xacro:property name= "wheelbase" value="0.327"/>
    <!-- wheel dimensions-->
     <xacro:property name="wheel_radius" value="0.052"/>
     <xacro:property name="wheel_width" value="0.042"/>
     <xacro:property name="track_width" value="0.263"/>
     <xacro:property name="wheel_mass" value="0.130"/>

    <xacro:property name="chassis_length" value="0.40"/>
    <xacro:property name="chassis_width"  value="0.16"/>
    <xacro:property name="chassis_height" value="0.09"/>
    <xacro:property name="chassis_z"      value="0.03"/>
    <xacro:property name="chassis_mass"
                value="${vehicle_mass - 4 * wheel_mass - 2 * knuckle_mass}"/>
    <!-- Temporary steering knuckle approximation -->
<xacro:property name="knuckle_mass" value="0.01"/>
<xacro:property name="knuckle_length" value="0.02"/>
<xacro:property name="knuckle_width" value="0.02"/>
<xacro:property name="knuckle_height" value="0.02"/>

      <!-- Inertia macros -->
    <xacro:macro name="box_inertia" params="m x y z o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(m / 12) * (y*y + z*z)}" ixy="0" ixz="0" iyy="${(m / 12) * (x*x + z*z)}" iyz="0" izz="${(m / 12) * (x*x + y*y)}"/>
        </inertial>
    </xacro:macro>
    <xacro:macro name="cylinder_inertia" params="m r l o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(m / 12) * (3*r*r + l*l)}" ixy="0" ixz="0" iyy="${(m / 12) * (3*r*r + l*l)}" iyz="0" izz="${(m / 2) * r*r}"/>
        </inertial>

        
    </xacro:macro>









</robot>