<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="senton">
   <xacro:include filename="$(find senton_description)/urdf/senton_properties.xacro"/>
    <link name="base_footprint"/>
        <joint name="base_footprint_joint" type="fixed">
            <parent link="base_footprint"/>
            <child link="base_link"/>
            <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
        </joint>
    
     <link name="base_link">
    <visual>
        <origin xyz="0 0 ${chassis_z}" rpy="0 0 0"/>

        <geometry>
            <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>

        <material name="blue">
            <color rgba="0 0 1 1"/>
        </material>
    </visual>
    <xacro:box_inertia
        m="${chassis_mass}"
        x="${chassis_length}"
        y="${chassis_width}"
        z="${chassis_height}"
        o_xyz="0 0 ${chassis_z}"
        o_rpy="0 0 0"/>
</link>
    <!-- Wheel macro -->
<xacro:macro name="wheel" params="name parent x y">

    <joint name="${name}_joint" type="continuous">
        <parent link="${parent}"/>
        <child link="${name}_wheel_link"/>

        <origin xyz="${x} ${y} 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="${name}_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>

            <geometry>
                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>
            </geometry>

            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <xacro:cylinder_inertia
            m="${wheel_mass}"
            r="${wheel_radius}"
            l="${wheel_width}"
            o_xyz="0 0 0"
            o_rpy="${pi/2} 0 0"/>
    </link>

</xacro:macro>


<!-- Front steering knuckle macro -->
<xacro:macro name="steering_knuckle" params="name x y">

    <link name="${name}_knuckle_link"/>

    <joint name="${name}_steering_joint" type="revolute">
        <parent link="base_link"/>
        <child link="${name}_knuckle_link"/>

        <origin xyz="${x} ${y} 0" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>

        <limit
            lower="-0.5"
            upper="0.5"
            effort="10"
            velocity="5"/>
    </joint>

</xacro:macro>

   <!-- Create front steering knuckles -->
<xacro:steering_knuckle
    name="front_left"
    x="${wheelbase/2}"
    y="${track_width/2}"
/>

<xacro:steering_knuckle
    name="front_right"
    x="${wheelbase/2}"
    y="${-track_width/2}"
/>


<!-- Front wheels attach to their steering knuckles -->
<xacro:wheel
    name="front_left"
    parent="front_left_knuckle_link"
    x="0"
    y="0"
/>

<xacro:wheel
    name="front_right"
    parent="front_right_knuckle_link"
    x="0"
    y="0"
/>


<!-- Rear wheels attach directly to base_link -->
<xacro:wheel
    name="rear_left"
    parent="base_link"
    x="${-wheelbase/2}"
    y="${track_width/2}"
/>

<xacro:wheel
    name="rear_right"
    parent="base_link"
    x="${-wheelbase/2}"
    y="${-track_width/2}"
/>
</robot>